/***** utilities *****/
.dh-bg-black {
    background-color: black;
    color: white;
}

.dh-bg-brown {
    background-color: #cd3d10;
    color: white;
}

.dh-btn-radius {
    border-radius: 20px;

}

.dh-fs-7 {
    font-size: 14px;
}


/***** CONTENT *****/

body {}

header img {
    height: 20px;
}

/* SECTION returnal-game */
#returnal-game {
    background-image: url("../img/returnal-listing-thumb-01-ps5.jpg");
    background-size: 100vw;
    height: 100vw;
    border: 1px solid red;
    background-repeat: no-repeat;
}

/* /SECTION returnal-game */