/***** utilities *****/
.dh-bg-black {
    background-color: black;
    color: white;
}

.dh-btn-radius {
    border-radius: 20px;

}

.dh-fs-7 {
    font-size: 14px;
}


/***** CONTENT *****/

header img {
    height: 20px;
}